{% import "components/form/fields_macros.html.twig" as fields %}


{% if can_edit %}

    <form name="form" action="{{ "Config"|itemtype_form_path }}" method="POST">

        <input type="hidden" name="config_class" value="GlpiPlugin\\Myplugin\\Config">

        <input type="hidden" name="config_context" value="plugin:myplugin">

        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">


        {{ fields.dropdownYesNo(

            'myplugin_computer_tab',

            current_config['myplugin_computer_tab'],

            __("Display tab in computer", 'myplugin')

        ) }}


        {{ fields.dropdownYesNo(

            'myplugin_computer_form',

            current_config['myplugin_computer_form'],

            __("Display information in computer form", 'myplugin')

        ) }}


        <button type="submit" class="btn btn-primary mx-1" name="update" value="1">

            <i class="ti ti-device-floppy"></i>

            <span>{{ _x('button', 'Save') }}</span>

        </button>

    </form>

{% endif %}