{% import "components/form/fields_macros.html.twig" as fields %}

{%if itemtype == 'superasset' %}
    <form action="{{submitUrl}}" method="POST">

        {{ fields.hiddenField("_glpi_csrf_token", csrf_token()) }}
        {{ fields.hiddenField("add_superasset_item", "true") }}

        {{fields.hiddenField("itemtype", "Computer")}}

        {{ fields.dropdownField(
            'Computer',
            'items_id',
            '',
            __('Add a computer')
        ) }}

        <button type="submit">Ajouter</button>
    </form>

    <ul>
        {% for item in existingItems %}
            <li>{{item['items_id']}} : {{item['itemtype']}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if itemtype == 'computer' %}
    <ul>
        {% for superasset in superassets %}
            <li>id du superasset : {{superasset}}</li>
        {% endfor %}
    </ul>
{% endif %}